<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678956801691-0j689eop9dst7duse9cbf8vtn7e744fn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678956801691-0j689eop9dst7duse9cbf8vtn7e744fn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>678956801691-2a3tb0arukk4vilc4o1uhk985fffjnnp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB4EIBR3Wf8knw7bhIlYxui26xOGUJCWGs</string>
	<key>GCM_SENDER_ID</key>
	<string>678956801691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanfrancisco.gov.ar.EstacionamientoMedidoSanFranciso</string>
	<key>PROJECT_ID</key>
	<string>estacionamiento-medido-d64a7</string>
	<key>STORAGE_BUCKET</key>
	<string>estacionamiento-medido-d64a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678956801691:ios:0eed6c2ea752db50bd303e</string>
</dict>
</plist>